#wrapper {
  padding-left: 0;
  /*-webkit-transition: all 0.5s ease;*/
  /*-moz-transition: all 0.5s ease;*/
  -o-transition: all 0.5s ease;
  /*transition: all 0.5s ease;*/
  /*height: 660px;*/
  margin-top: 0px;
}

#sidebar-wrapper {
  z-index: 1;
  position: fixed;
  left: 0;
  width: 225px;
  margin-top: 60px;
  overflow-y: auto;
  background: #2c2827;
  /*-webkit-transition: all 0.5s ease;*/
  /*-moz-transition: all 0.5s ease;*/
  -o-transition: all 0.5s ease;
  /*transition: all 0.5s ease;*/
  height: 100%;
  top: 0;
  left: 0;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.list-nav {
  margin-left: 0px;
  height: 60px;
  margin-top: 9px;
  text-indent: 20px;
  line-height: 40px;
  position: relative;
  width: 200%;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  margin-left: 10px;
}

.list-nav:nth-child(1) {
  margin-top: 50px;
}

.list-nav span {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
  height: 40px;
  margin-left: 10px;
}

.list-nav .icons {
  font-size: 30px;
  margin-left: 0px;
  font-weight: 300;
  height: auto;
  width: 40px;
  color: #FCA162;
  margin-top: 12px;
  text-align: center;
}

.list-nav a {
  display: block;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: flex;
  width: 100%;
}

.list-nav:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(53,50,49,1.0);
}

.list-nav.active {
  text-decoration: none;
  color: #fff;
  background: rgba(53,50,49,1.0);
  border-color: white;
  border-width: 15px;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media (min-width:992px) {
  #sidebar-wrapper {
    padding-left: 0px;
    width: 225px;
  }
}

@media (min-width:576px) and (max-width:991px) {
  .sidebar-nav .sidebar-label {
    width: 0px;
    visibility: hidden;
  }
}

@media (min-width:576px) and (max-width:991px) {
  .list-nav, .sidebar-nav a, #sidebar-wrapper {
    width: 90px;
  }
}

@media (max-width:575px) {
  .sidebar-nav a, #sidebar-wrapper {
    width: 70px;
  }
}

@media (max-width:575px) {
  .sidebar-nav .sidebar-label {
    width: 0px;
    visibility: hidden;
  }
}

@media (max-width:575px) {
  .list-nav {
    margin-left: 0px;
    width: 70px;
  }
}

